.panel-smart blockquote{
    margin:0;
    padding:5px 15px;
    color:$color-secondary;
    font-size:13px;
    border:none;

    footer{
        padding-top:10px;
        color:#252a2f;
        font-size:14px;
    }
}