
/* Footer Links Styles Starts */

.footer-links{
    border-top:1px solid $color-border-secondary;
    padding:25px 0 40px;

    h5{
        text-transform:uppercase;
        margin-bottom:20px;
    }

    ul{
        list-style:none;
        margin:0;
        padding:0;
    }

    li{
        padding:2px 0;
        font-size:12px;
        color:$color-lighter-black;

        a {
            color:$color-lighter-black;
        }
    }

    li a:hover,
    .last li a{
        color:$color-secondary-dark;
    }

    .last h4.lead{
        font-size:24px;
        margin-bottom:0;
        font-weight: normal;
        color:$color-secondary;

        span{
            color:$color-secondary-dark;
        }
    }
}

.copyright{
    background:#252a2f;
    padding:18px 0 8px;
    font-size: 13px;
    color: #fff;

    a,
    a:hover {
        color:$color-main;
    }

    p{
        padding-top:4px;
    }
}