
/* Header Area Styles Starts */

#header-area{
    background:#fff;
    margin-bottom:20px;

    .header-top{
        background:#252a2f;

        .header-links ul{
            li{
                display:inline-block;

                .fa{
                    margin-right:3px;
                }

                a {
                    padding:12px 15px 12px 0;
                }

                a:hover,
                a:focus,
                &.active a{
                    background:none;
                    color:$color-main-light;
                }
            }
        }

        .header-links
        .header-links li
        .header-links li,
        .header-links li a{
            color:#fff;
        }

        /* Currency & Languages Drop Down Styles Starts */

        .btn-link{
            color:#fff;
            text-decoration:none;
            margin:4px 0 0 0;

            i.fa{
                margin-left:5px;
            }
        }

        .open .btn-link{
            color:$color-main-light;
        }
    }

    /* Main Header & Search Styles Starts */
    .main-header{
        padding:25px 0 35px;

        #logo {
            text-align: center;
            a {
                display:inline-block;
                font-size:35px;
                font-weight:bold;

                .black {
                    color:black;
                }

                &:hover {
                    text-decoration: none;
                    color:$color-main;

                    .black {
                        color:black;
                    }
                }
            }
            .img-responsive {
                display:inline-block;
                margin-left: auto;
                margin-right: auto;

                @media (min-width: 768px) and (max-width: 991px) {
                    margin-left:auto;
                    margin-right:auto;
                }

                @media (max-width: 767px) {
                    margin:0 auto;
                }
            }
        }

        #search{
            margin:12px 0 0 0;

            .input-group {
                .form-control{
                    background:none;
                    border:solid $color-main;
                    border-width:1px 0 1px 1px;
                    color:#878a8c;
                    -webkit-border-radius:0;
                    -moz-border-radius:0;
                    border-radius:0;
                    -webkit-box-shadow:none;
                    -moz-box-shadow:none;
                    box-shadow:none;
                }

                .btn{
                    background:none;
                    border:solid $color-main;
                    border-width:1px 1px 1px 0;
                    color:$color-main;
                    height: 46px;
                    -webkit-border-radius:0;
                    -moz-border-radius:0;
                    border-radius:0;
                    -webkit-box-shadow:none;
                    -moz-box-shadow:none;
                    box-shadow:none;
                }
            }
        }
    }
}

