
/* Pagination Styles Starts */

.pagination{
    margin:0;

    > li {
        > a{
            color:$color-secondary;
        }

        &:first-child > a,
        &:first-child > span,
        &:last-child > a,
        &:last-child > span {
            -webkit-border-radius:0;
            -moz-border-radius:0;
            border-radius:0;
        }
    }


    > .active > a,
    > .active > span,
    > .active > a:hover,
    > .active > span:hover,
    > .active > a:focus,
    > .active > span:focus{
        background:$color-main;
        border-color:$color-main;
    }
}

.results{
    padding-top:10px;
    text-align:right;
}
